[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mdgc"]
	path = mdgc
	url = https://github.com/boennecd/mdgc
[submodule "psqn"]
	path = psqn
	url = https://github.com/boennecd/psqn
