[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DtD"]
	path = DtD
	url = https://github.com/boennecd/dtd
[submodule "dynamichazard"]
	path = dynamichazard
	url = https://github.com/boennecd/dynamichazard
[submodule "mdgc"]
	path = mdgc
	url = https://github.com/boennecd/mdgc
[submodule "mmcif"]
	path = mmcif
	url = https://github.com/boennecd/mmcif
[submodule "mssm"]
	path = mssm
	url = https://github.com/boennecd/mssm
[submodule "parglm"]
	path = parglm
	url = https://github.com/boennecd/parglm
[submodule "pedmod"]
	path = pedmod
	url = https://github.com/boennecd/pedmod
[submodule "psqn"]
	path = psqn
	url = https://github.com/boennecd/psqn
[submodule "rollRegres"]
	path = rollRegres
	url = https://github.com/boennecd/rollregres
[submodule "SimSurvNMarker"]
	path = SimSurvNMarker
	url = https://github.com/boennecd/simsurvnmarker
[submodule "VAJointSurv"]
	path = VAJointSurv
	url = https://github.com/boennecd/vajointsurv
